<h1>{{ titre }}</h1>

<ul class="liste">
    {% for film in films %}
        <li>
            <h2><a href="{{ path('page_films', {'id': film.id}) }}">{{ film.titre }}</a></h2>
            <strong> <span>{{ film.realisateur }}</span></strong>
            <br><span>{{ film.synopsis }}</span></br>
           <br> <span>{{ film.datedesortie }}</span></br>
        </li>

    {% endfor %}
</ul>